{{template "base" .}}
{{ define "content" }}
<h2>Over ons</h2>
<p>Fonteyn Vakantieparken is een oer-Hollands familiebedrijf. 50 jaar geleden is Frits Fonteyn begonnen met een kleine camping in het zuiden van het land. In de loop der jaren heeft hij samen met zijn broers kleine vakantiehuisjes gebouwd op zijn land. De laatste 20 jaar heeft de familie diverse stukken land gekocht en zijn daarop kleine vakantieparken gaan bouwen. Tien jaar geleden hebben ze ook een aantal parken in Belgie en Duitsland opgezet en zijn ze begonnen om bestaande parken over te nemen.</p>
{{ end }}